node_modules/
node/

.env
vpn.env
config.json
state.json

browser-profile/
logs/
*.log
npm-debug.log*

*.zip
*.7z
*.rar
*.bak
config.backup-*.json

EasierConnect.exe
EasierConnect-GUI.exe

desktop/**/bin/
desktop/**/obj/
desktop-publish/
